
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="{% static 'admin_cms/css/styles.css' %}">
    <style>
        li {
            color: red;
        }
    </style>
</head>
<body class="hold-transition register-page">
    <div class="register-box">
          <div class="register-logo">
            <b>KinoCMS</b>
          </div>

          <div class="card">
            <div class="card-body register-card-body">
              <p class="login-box-msg">Reset password</p>

              <form action="{% url 'change_password' %}" method="post">
                  {% csrf_token %}
                    <div class="input-group mb-3"
                            {% if change_password_form.email.errors %}
                         style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                            {% endif %}>

                      <input id="{{ change_password_form.email.auto_id }}" name="{{ change_password_form.email.html_name }}"
                             class="form-control" placeholder="E-mail">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-envelope"></span>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3"
                            {% if change_password_form.alias.errors %}
                         style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                            {% endif %}>
                        {{ change_password_form.alias }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                             <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div class="row">
                           {% for error in change_password_form.alias.errors %}
                               <p style="margin-top: 4px; color: red;">{{ error }}</p>
                           {% endfor %}
                        </div>
                    </div>
                    <div class="input-group mb-3"
                            {% if change_password_form.password.errors %}
                         style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                            {% endif %}>
                        {{ change_password_form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                             <span class="fas fa-lock"></span>
                            </div>
                        </div>
                           {% for error in change_password_form.password.errors %}
                               <p style="margin-top: 4px; color: red;">{{ error }}</p>
                           {% endfor %}
                    </div>
                    <div class="input-group mb-3"
                            {% if change_password_form.password1.errors %}
                         style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                            {% endif %}>
                        {{  change_password_form.password1  }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                             <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        {{ change_password_form.email.errors }}
                        {{ change_password_form.password.errors }}
                        {{ change_password_form.non_field_errors }}
                    </div>
                  <div class="row">
                      <div class="col-2"></div>
                     <div class="col-4">
                         <button type="submit" class="btn btn-primary btn-block">Reset</button>
                     </div>
                  <!-- /.col -->
                      <div class="col-4">
                          <a class="btn btn-secondary" href="{% url 'login' %}">Назад</a>
                      </div>
                      <!-- /.col -->
                 </div>
              </form>
            </div>
          </div>
    </div>
</body>
</html>