{% extends 'admin_cms/base.html' %}
{% load static i18n %}

{% block content %}
    <form id="cinema-form" action="{% url 'update_cinema' pk=cinema_form.instance.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row"
                    {% if cinema_form.name.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ cinema_form.name.id_for_label }}">
                {{ cinema_form.name.label }}
            </label>
            <div class="col-sm-10">
                {{ cinema_form.name }}
                {% for error in cinema_form.name.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row"
                    {% if cinema_form.description.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ cinema_form.description.id_for_label }}">
                {{ cinema_form.description.label }}
            </label>
            <div class="col-sm-10">
                {{ cinema_form.description }}
                {% for error in cinema_form.description.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row"
                    {% if cinema_form.condition.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ cinema_form.condition.id_for_label }}">
                {{ cinema_form.condition.label }}
            </label>
            <div class="col-sm-10">
                {{ cinema_form.condition }}
                {% for error in cinema_form.condition.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row"
                    {% if cinema_form.logo.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ cinema_form.logo.id_for_label }}">
               Лого
            </label>
            <div class="col-sm-10">
                <img id="id_logo-preview" src="{{ cinema_form.instance.logo.url }}"
                    class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                <span class="btn btn-primary btn-file" style="margin: 0% 0% 0% 8%">{% trans 'Додати' %}
                    {{ cinema_form.logo }}
                </span>
                <button id="{{ cinema_form.logo.id_for_label }}-delete" type="button"
                        class="btn btn-danger" onclick="removeFile(this)"
                        style="margin: 0% 0% 0% 8%;">{% trans 'Видалити' %}</button>
            </div>
        </div>
                {% for error in cinema_form.logo.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

        <div class="form-group row"
                    {% if cinema_form.banner_photo.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ cinema_form.banner_photo.id_for_label }}">
               {% trans 'Фото верхнього банера' %}
            </label>
            <div class="col-sm-10">
                <img id="id_banner_photo-preview" src="{{ cinema_form.instance.banner_photo.url }}"
                    class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                <span class="btn btn-primary btn-file" style="margin: 0% 0% 0% 8%">{% trans 'Додати' %}
                    {{ cinema_form.banner_photo }}
                </span>
                <button id="{{ cinema_form.banner_photo.id_for_label }}-delete" type="button"
                        class="btn btn-danger" onclick="removeFile(this)"
                        style="margin: 0% 0% 0% 8%;">{% trans 'Видалити' %}</button>
            </div>
        </div>
                {% for error in cinema_form.banner_photo.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

        {{ photo_formset.management_form.as_p }}
        <div class="content flex-column" id="photo-form-list" style="padding-top: 2%"
                    {% if photo_formset.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label>{% trans 'Галерея картинок' %}</label> <br>
            {% for form in photo_formset %}
                {{ form.id }}
                <div id="{{ form.photo.auto_id }}" style="display: inline-block; margin: 2% 0% 0% 4%;">
                    <div style="position: relative">
                        <img id="{{ form.photo.auto_id }}-preview" src="{% if form.instance.photo %}
                                                                            {{ form.instance.photo.url }}
                                                                        {% endif %}"
                        class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                        <img class="cancel-button-checkbox" alt="cancel-button" src="{% static 'admin_cms/logos/cancel-button.png' %}"
                                        onclick="hidePhoto(event, this)">
                    </div>
                    <span class="btn btn-primary btn-file" style="margin: 10% 0% 0% 5%">{% trans 'Вибрати фото' %}
                        {{ form.photo }}
                    </span>
                    <div style="display: none">
                        {{ form.DELETE }}
                    </div>
                </div>
            {% endfor %}
        </div>
       <div id="empty-form" style="display: none; margin: 2% 0% 0% 4%;">
               <div style="position: relative">
                   <img id="image-preview" src="{% static 'admin_cms/logos/empty-photo.png' %}"
                   class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                   <img class="cancel-button-checkbox" src="{% static 'admin_cms/logos/cancel-button.png' %}">
               </div>
               <span class="btn btn-primary btn-file" style="margin: 10% 0% 0% 5%">{% trans 'Вибрати фото' %}
                   {{photo_formset.empty_form.photo}}
               </span>
       </div>
       <button class="btn btn-primary" id="add-more" type="button" style="margin-top: 2%">{% trans 'Додати картинку' %}</button>

        {{ hall_formset.management_form }}
        <div class="list" id="table-list" style="padding-top: 2%;">
            <h5 class="text-center">{% trans 'Список залів' %}</h5>
            <table class="table table-bordered" border="1">
                <tbody>
                    <tr>
                        <td>
                            {% trans 'Номер зала' %}
                        </td>
                        <td>
                            {% trans 'Дата створення' %}
                        </td>
                    </tr>
                    {% for hall_form in hall_formset %}
                        {{ hall_form.id }}
                        <tr>
                            <td>
                                <div style="display: none">{{ hall_form.number }}</div>
                                {{ hall_form.number.value }}
                            </td>
                            <td>
                                <div style="display: none">{{ hall_form.created_at }}</div>
                                {{ hall_form.created_at.value|date:"d.m.Y" }}
                            </td>
                            <td style="border: none">
                                <a href="{% url 'update_hall' hall_pk=hall_form.instance.id %}" style="text-decoration: none;">
                                    <img src="{% static 'admin_cms/logos/pencil.png' %}" style="width: 25px; height: 25px;">
                                </a>
                                <img id="{{ hall_form.number.auto_id }}-to-delete" src="{% static 'admin_cms/logos/cancel-button.png' %}"
                                     onclick="deleteHall(this)" style="width: 25px; height: 25px;">
                                <div style="display: none">
                                    {{ hall_form.DELETE }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <a class="btn btn-success" href="{% url 'create_hall' cinema_pk=cinema_form.instance.id %}">{% trans 'Створити кінозал' %}</a>
        </div>
        <div class="seo-form row" style="padding-top: 3%">
            <div class="col-1">
                <b>SEO блок:</b>
            </div>
            <div class="col-10" style="margin-top: 4%">
                <div class="form-group row"
                    {% if seo_form.url.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.url.id_for_label }}">
                        {{ seo_form.url.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.url }}
                        {% for error in seo_form.url.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row"
                    {% if seo_form.title.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.title.id_for_label }}">
                        {{ seo_form.title.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.title }}
                        {% for error in seo_form.title.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row"
                    {% if seo_form.keyword.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.keyword.id_for_label }}">
                        {{ seo_form.keyword.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.keyword }}
                    </div>
                </div>

                <div class="form-group row"
                    {% if seo_form.seo_description.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.seo_description.id_for_label }}">
                        {{ seo_form.seo_description.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.seo_description }}
                        {% for error in seo_form.seo_description.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit" style="margin-top: 5%">{% trans 'Зберегти' %}</button>
    </form>
{% endblock %}