{% extends 'admin_cms/base.html' %}
{% load static i18n %}

{% block content %}
    
    <form id="movie-form" action="{% url 'update_movie' pk=movie_form.instance.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row"
                    {% if movie_form.name.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ movie_form.name.id_for_label }}">
                {{ movie_form.name.label }}
            </label>
            <div class="col-sm-10">
                {{ movie_form.name }}
                {% for error in movie_form.name.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row"
                    {% if movie_form.description.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ movie_form.description.id_for_label }}">
                {{ movie_form.description.label }}
            </label>
            <div class="col-sm-10">
                {{ movie_form.description }}
                {% for error in movie_form.description.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row"
                    {% if movie_form.main_photo.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label class="col-sm-2 col-form-label" for="{{ movie_form.main_photo.id_for_label }}">
               {{ movie_form.main_photo.label }}
            </label>
            <div class="col-sm-10">
                <img id="{{ movie_form.main_photo.auto_id }}-preview" src="{{ movie_form.instance.main_photo.url }}"
                    class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                <span class="btn btn-primary btn-file" style="margin: 0% 0% 0% 8%">Додати
                    {{ movie_form.main_photo }}
                </span>
                <button id="{{ movie_form.main_photo.id_for_label }}-delete" type="button"
                        class="btn btn-danger" onclick="removeFile(this)"
                        style="margin: 0% 0% 0% 8%;">Видалити</button>
            </div>
        </div>
                {% for error in movie_form.main_photo.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

        {{ photo_formset.management_form.as_p }}
        <div class="content flex-column" id="photo-form-list" style="padding-top: 2%"
                    {% if photo_formset.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
            <label>{% trans 'Галерея картинок' %}</label> <br>
            {% for form in photo_formset %}
                {{ form.id }}
                <div id="{{ form.photo.auto_id }}" style="display: inline-block; margin: 2% 0% 0% 4%;">
                    <div style="position: relative">
                        <img id="{{ form.photo.auto_id }}-preview" src="{% if form.instance.photo %}
                                                                            {{ form.instance.photo.url }}"
                                                                        {% endif %}
                        class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                        <img class="cancel-button-checkbox" alt="cancel-button" src="{% static 'admin_cms/logos/cancel-button.png' %}"
                                        onclick="hidePhoto(event, this)">
                    </div>
                    <span class="btn btn-primary btn-file" style="margin: 10% 0% 0% 5%">{% trans 'Вибрати фото' %}
                        {{ form.photo }}
                    </span>
                    <div style="display: none">
                        {{ form.DELETE }}
                    </div>
                </div>
            {% endfor %}
        </div>
       <div id="empty-form" style="display: none; margin: 2% 0% 0% 4%;">
               <div style="position: relative">
                   <img id="image-preview" src="{% static 'admin_cms/logos/empty-photo.png' %}"
                   class="img-thumbnail" alt="your image" style="width: 150px; height: 105px;"/>
                   <img class="cancel-button-checkbox" src="{% static 'admin_cms/logos/cancel-button.png' %}">
               </div>
               <span class="btn btn-primary btn-file" style="margin: 10% 0% 0% 5%">{% trans 'Вибрати фото' %}
                   {{photo_formset.empty_form.photo}}
               </span>
       </div>
       <button class="btn btn-primary" id="add-more" type="button" style="margin-top: 2%">{% trans 'Додати картинку' %}</button>

        <div class="form-group row"
                    style="{% if movie_form.trailer_url.errors %}
                 border: 1px solid red; border-radius: 0.25em; padding: 3px;
                            {% endif %}
                     margin-top: 10px;">
            <label class="col-sm-2 col-form-label" for="{{ movie_form.trailer_url.id_for_label }}">
                {{ movie_form.trailer_url.label }}
            </label>
            <div class="col-sm-10">
                {{ movie_form.trailer_url }}
                {% for error in movie_form.trailer_url.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row" style="margin-top: 20px;">
            <label class="col-md-2 col-form-label">{% trans 'Тип кіно' %}</label>
            <div class="col-md-10">
                <div class="form-check form-check-inline">
                    {{ movie_form.type_2D }}
                    <label class="form-check-label" for="{{ movie_form.type_2D.auto_id }}">2D</label>
                </div>
                <div class="form-check form-check-inline">
                    {{ movie_form.type_3D }}
                    <label class="form-check-label" for="{{ movie_form.type_3D.auto_id }}">3D</label>
                </div>
                <div class="form-check form-check-inline">
                    {{ movie_form.type_IMAX }}
                    <label class="form-check-label" for="{{ movie_form.type_IMAX.auto_id }}">IMAX</label>
                </div>
            </div>
        </div>

        <div class="seo-form row" style="padding-top: 3%">
            <div class="col-1">
                <b>SEO блок:</b>
            </div>
            <div class="col-10" style="margin-top: 4%">
                <div class="form-group row"
                    {% if seo_form.url.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.url.id_for_label }}">
                        {{ seo_form.url.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.url }}
                        {% for error in seo_form.url.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row"
                    {% if seo_form.title.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.title.id_for_label }}">
                        {{ seo_form.title.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.title }}
                        {% for error in seo_form.title.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row"
                    {% if seo_form.keyword.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.keyword.id_for_label }}">
                        {{ seo_form.keyword.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.keyword }}
                    </div>
                </div>

                <div class="form-group row"
                    {% if seo_form.seo_description.errors %}
                 style="border: 1px solid red; border-radius: 0.25em; padding: 3px;"
                    {% endif %}>
                    <label class="col-sm-2 col-form-label" for="{{ seo_form.seo_description.id_for_label }}">
                        {{ seo_form.seo_description.label }}
                    </label>
                    <div class="col-sm-10">
                        {{ seo_form.seo_description }}
                        {% for error in seo_form.seo_description.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit" style="margin-top: 5%">{% trans 'Зберегти' %}</button>
    </form>
    
{% endblock %}